:root {
  --clr-light-sage: #373d29;
  --clr-red: #3f1313;
  --clr-white: #fafffd;
  --clr-sage: #1c1e17;
  --clr-sage-md: #282c1d;
  --clr-yellow: #cfaf4f;
  --clr-black: #1e1e1e;

  --ff-serif: "Newsreader", serif;
  --ff-sans-serif: "Jost", sans-serif;
  --ff-serif-2: "Rokkitt", serif;

  --font-xs: 0.75rem;
  --font-sm: 1.5rem;
  --font-md: 1.75rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
  --font-2xl: 3rem;
  --font-3xl: 3.5rem;
  --font-4xl: 4rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevent line breaks */
  border: 0;
}

body,
html {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  background: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--ff-serif-2);
  font-weight: 200;

  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  font-family: var(--ff-sans-serif);
}

h1 {
  font-size: var(--font-4xl);
}
h2 {
  font-size: var(--font-3xl);
}
h3 {
  font-size: var(--font-2xl);
}
h4 {
  font-size: var(--font-xl);
}
h5 {
  font-size: var(--font-lg);
}
h6 {
  font-size: var(--font-md);
}

p,
body {
  font-size: var(--font-sm);
}

a,
a:visited {
  color: var(--clr-white);
  font-family: var(--ff-sans-serif);

  &:hover,
  &:focus {
    color: var(--clr-yellow);
  }
}

.site-header {
  padding-block: 1rem;
  padding-inline: 1.5rem;

  position: relative;

  background: var(--clr-red);

  &.js-header-open {
    nav {
      display: block;
    }

    .header-toggle {
      transform: rotate(180deg);
    }
  }

  nav {
    height: 100%;

    display: none;
  }

  ul {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    li {
      height: 100%;
      display: flex;
      align-items: center;
    }

    li,
    a {
      width: calc(100% - 2.5rem);

      font-size: 1.25rem;
    }

    li:not(:last-of-type) {
      padding-inline: 1rem;

      border-bottom: 1px solid var(--clr-white);
    }
  }

  a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
  }

  .header-toggle {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -1rem;
    top: calc(50% - 2rem);

    border: none;
    background: var(--clr-red);
    border-radius: 50%;

    transition: all 0.3s ease-in;

    cursor: pointer;

    &:hover,
    &:focus {
      svg {
        stroke: var(--clr-yellow);
      }
    }

    svg {
      width: 2rem;

      stroke: var(--clr-white);
    }
  }
}

strong {
  font-weight: 700;
}

body {
  min-height: 100dvh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

main {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: auto;

  > .inner {
    max-width: 100%;
    min-height: calc(100% - 4rem);

    flex-grow: 1;

    padding: 2rem;
  }
}

.list-unstyled {
  list-style-type: none;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.verse-number {
  display: inline-block;
  font-size: var(--font-xs);
  margin-block-start: -0.25rem;
}

.version {
  font-family: var(--ff-sans-serif);
}
