:root {
  --clr-light-sage: #373d29;
  --clr-red: #3f1313;
  --clr-white: #fafffd;
  --clr-sage: #1c1e17;
  --clr-sage-md: #282c1d;
  --clr-yellow: #9c802e;
  --clr-black: #1e1e1e;

  --ff-serif: "Newsreader", serif;
  --ff-sans-serif: "Jost", sans-serif;

  --font-xs: 0.75rem;
  --font-sm: 1.5rem;
  --font-md: 1.75rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
  --font-2xl: 3rem;
  --font-3xl: 3.5rem;
  --font-4xl: 4rem;
}

body,
html {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  background: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--ff-serif);
  font-weight: 300;

  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  font-family: var(--ff-sans-serif);
}

h1 {
  font-size: var(--font-4xl);
}
h2 {
  font-size: var(--font-3xl);
}
h3 {
  font-size: var(--font-2xl);
}
h4 {
  font-size: var(--font-xl);
}
h5 {
  font-size: var(--font-lg);
}
h6 {
  font-size: var(--font-md);
}

p,
body {
  font-size: var(--font-sm);
}

a,
a:visited {
  color: var(--clr-white);
  font-family: var(--ff-sans-serif);

  &:hover,
  &:focus {
    color: var(--clr-yellow);
  }
}

.site-header {
  padding-block: 2rem;
  padding-inline: 2rem;

  background: var(--clr-red);

  nav {
    height: 100%;
  }

  ul {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li,
    a {
      height: 100%;
    }

    li:not(:last-of-type) {
      margin-block-end: 1.5rem;

      font-family: var(--font-xs);

      border-bottom: 1px solid var(--clr-white);
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}

body {
  min-height: 100dvh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

main {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: auto;

  .inner {
    max-width: 100%;
    min-height: calc(100% - 4rem);

    flex-grow: 1;

    padding: 2rem;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.card {
  flex: 1 1 calc(50% - 3rem);
  min-width: 200px;
  max-width: calc(50% - 3rem);

  padding: 1rem;
  background: var(--clr-white);
  color: var(--clr-sage);

  h2 {
    font-size: var(--font-md);
  }

  p {
    font-size: var(--font-sm);
  }
}

.list-unstyled {
  list-style-type: none;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.verse-number {
  display: inline-block;
  font-size: var(--font-xs);
  margin-block-start: -0.25rem;
}

.version {
  font-family: var(--ff-sans-serif);
}
