<header class="site-header">
  <nav>
    <ul class="list-unstyled">
      <li><a href="/">Home</a></li>
      <li><a href="/bible/asv">American Standard Version (ASV)</a></li>
      <li><a href="/bible/kjv">King James Version (KJV)</a></li>
      <li><a href="/bible/niv">New International Version (NIV)</a></li>
      <li><a href="/bible/web">World English Bible (WEB)</a></li>
    </ul>
  </nav>
</header>
