<header class="site-header">
  <nav>
    <ul class="list-unstyled">
      <li><a href="/">Home</a></li>
      <li><a href="/bible/asv">American Standard Version<br />(ASV)</a></li>
      <li><a href="/bible/kjv">King James Version<br />(KJV)</a></li>
      <li><a href="/bible/niv">New International Version<br />(NIV)</a></li>
      <li><a href="/bible/web">World English Bible<br />(WEB)</a></li>
    </ul>
  </nav>
  <button type="button" class="header-toggle">
    <span class="visually-hidden" id="panel-status">Open Panel</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"></path>
    </svg>
  </button>
</header>
