---
// Properties & Data
const { title = "" } = Astro.props;
import Header from "../components/Header.astro";
const websiteTitle = "The Bible";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - {websiteTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <div class="inner">
        <slot />
      </div>
    </main>
    <footer>
      <p>&copy; {new Date().getFullYear()} The Bible</p>
    </footer>
  </body>
</html>
