---
// Properties & Data
const { title = "" } = Astro.props;
import Header from "../components/Header.astro";
const websiteTitle = "Bible Translations";
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - {websiteTitle}</title>
    <link
      rel="shortcut icon"
      href="../../logo-mp-colorful.svg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rokkitt:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main id="main-content">
      <div class="inner">
        <slot />
      </div>
    </main>
  </body>
</html>
